<h4 class='level_h4'>Рівні англійської мови</h4>
<ol class='levels_content'>
  <% @levels.each do |level| %>
      <% if level.name == 'Початковий рівень: Starter(A1)' %>
          <li>
            <%= link_to level.name, level %>
          </li>
          <%= render 'levels/starter' %>
      <% elsif level.name == 'Елементарний рівень: Elementary (А1-А2)' %>
          <li>
            <%= link_to level.name, level %>
          </li>
          <%= render 'levels/elementary' %>
      <% elsif level.name == 'Проміжний рівень: Pre-Intermediate (А2-В1)' %>
          <li>
            <%= link_to level.name, level %>
          </li>
          <%= render 'levels/preintermediate' %>
      <% elsif level.name == 'Середній рівень: Intermediate (В1)' %>
          <li>
            <%= link_to level.name, level %>
          </li>
          <%= render 'levels/intermediate' %>
      <% end %>
  <% end %>
</ol>