<div id='teach_pages' class="row">
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <%= render 'static_pages/left_menue' %>
  </div>

  <div id='central_col' class="col-md-7">
    <h4 class='level_h4'>Загальний бізнес курс англійської мови</h4>

    <div class='levels_content'>

      <h5>Коротко про загальний бізнес курс англійської мови</h5>
      <p>
        Курс, без якого не обійтися, якщо Вам потрібно спілкуватися у діловому середовищі: в офісі, на бізнес зустрічах,
        на конференціях і під час переговорів. На курсі бізнес англійського Ви навчитеся налагоджувати контакти, проводити
        ефективні презентації, вести ділові та телефонні переговори, опануєте навички з ділової переписки та проведення
        ділових зустрічей англійською мовою. Бізнес курс англійської мови – це саме те, що потрібно для тих людей, які хочуть
        себе вільно почувати у діловому світі, де головною мовою спілкування є англійська.
      </p>

      <h5>Які особливості загального бізнес курсу англійської мови?</h5>
      <li> <%= render 'static_pages/gliph' %>
        Вивчати ділову англійську мову можна з рівня Intermediate до Advanced, на більш низких рівнях можна додавати
        елементи з бізнес англійської до загальнорозмовного курсу англійської мови.
      </li>
      <li><%= render 'static_pages/gliph' %>
        Це збалансований курс англійської, на якому Ви не тільки поліпшуєте розмовні навички та рівень сприйняття англійської
        на слух, уміння читати англійською, ставите вимову, підвищуєте знання з граматики та вчитеся грамотно писати англійською,
        але й навчаєтеся веденню ділової переписки, ділових переговорів, проведенню зустрічей, спілкуванню по телефону та
        проведенню презентацій.
      </li>
      <li><%= render 'static_pages/gliph' %>
        Кожне заняття - це міні-тренінг з англійської мови, на якому Ви вивчаєте лексику, граматику, ділову культуру різних
        народів, а також одержуєте необхідні навички для спілкування у бізнес сфері англійською мовою.
      </li>
      <li><%= render 'static_pages/gliph' %>
        Спілкування англійською починається з першого заняття. Щоб дізнатися про те, який буде результат, прочитайте про
        рівні англійської мови, а щоб дізнатися, як проходять заняття, перейдіть за цим посиланням.
      </li>

      <h5>За якими підручниками проходять заняття?</h5>
      <p>
        Якщо Ваш рівень не відповідає рівню Intermediate, то Вам варто спочатку займатися англійською на загальнорозмовному
        курсі. На рівні для початківців (Starter) я використовую підручник Cutting Edge (для загального розмовного курсу,
        видавництва «Longman»), на рівнях Elementary – Pre-Intermediate я застосовую підручник New English File (видавництво
        «Oxford University Press»). Якщо бізнес англійська Вам необхідна навіть на цих рівнях, то я просто додам авторські
        навчальні матеріали, щоб навчити Вас азам ділової переписки, проведенню презентацій, ділових переговорів і т.д.
        Починаючи з рівня Intermediate і вище, я використовую підручник «In Company» (видавництва «Macmillan»). Ви будете
        займатися не лише по підручнику, а й по спеціально підготовленим додатковим матеріалам для більш поглибленого вивчення
        граматики та для розширеної розмовної практики, щоб Ви мали можливість розглянути одну тему з різних боків та одержали
        максимум користі від курсу на Вашому рівні.
      </p>

    </div>
  </div>

  <div class="col-md-1"></div>
</div>