<div id='teach_pages' class="row">
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <%= render 'static_pages/left_menue' %>
  </div>

  <div id='central_col' class="col-md-7">
    <h4 class='level_h4'>Загальний розмовний курс англійської мови</h4>

    <div class='levels_content'>

      <h5>Коротко про курс загальної розмовної англійської мови</h5>
      <p>
        Якщо Ви хочете вільно спілкуватися англійською мовою про повсякденні ситуації, обирайте цей курс англійської мови.
        Його вивчення дозволить Вам: знайти або показати дорогу, зробити покупки, обговорити політичну ситуацію в країні та
        нові відкриття в медицині, поговорити про погоду і торкнутися багато інших тем. Іншими словами, Ви вчитеся спілкуватися
        на всі теми, на які щодня спілкуєтеся із друзями й знайомими.
      </p>

      <h5>Які особливості загального розмовного курсу англійської мови?</h5>
      <li><%= render 'static_pages/gliph' %>
        Вивчати загальну розмовну англійську можна на будь-якому рівні від Starter до Advanced.
      </li>
      <li><%= render 'static_pages/gliph' %>
        Це збалансований курс англійської, на якому Ви одночасно поліпшуєте розмовні навички, сприйняття мови на слух,
        вміння читати англійською, ставите вимову, підвищуєте знання граматики та вчитеся грамотно писати по-англійськи.
      </li>
      <li><%= render 'static_pages/gliph' %>
        Кожний урок будується навколо певної теми: їжа, покупки, місто і т.п. Ви, крок за кроком, вивчаєте необхідну лексику,
        граматику і спілкуєтеся англійською мовою на різну тематику.
      </li>
      <li><%= render 'static_pages/gliph' %>
        Спілкування англійською починається з першого заняття. Щоб дізнатися про те, який буде результат, прочитайте про рівні
        англійської мови, а щоб дізнатися, як проходять заняття, перейдіть за цим посиланням.
      </li>

      <h5>За якими підручниками проходять заняття?</h5>
      <p>
        На мою думку, найкращими підручниками із загальнорозмовної англійської є «Cutting Edge», Longman (рівень Starter)
        та «New English File», Oxford University Press (рівні Elementary-Advanced). Звичайно, Ви не будете займатися тільки
        за підручниками, оскільки іноді потрібно буде зробити більший акцент на якусь граматичну тему або додати вправ для
        розмовної практики. Тому, практично на кожному занятті, я обов'язково використовую додатковий матеріал, щоб Ви могли
        отримати максимум користі від уроків англійського на Вашому рівні.
      </p>

    </div>
  </div>

  <div class="col-md-1"></div>
</div>

