<div id='teach_pages' class="row">
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <%= render 'static_pages/left_menue' %>
  </div>

  <div id='central_col' class="col-md-7">
    <h4 class='level_h4'>Школа англійської</h4>

    <div class='levels_content'>

      <p>Навчання англійській мові – це моє хобі, а не робота.
        Моя мета - зробити вивчення англійської мови цікавим, ефективним та доступним для Вас.
        В англомовному середовищі, яке панує на уроках, Ви подолаєте мовний бар'єр, систематизуєте знання з граматики
        та розширите словниковий запас.
        Поки інші будуть вчити англійську мову, Ви вже будете нею говорити!
        Дізнайтеся, що думають <span><%= link_to 'наші студенти', @response %></span> про якість та
        ефективність вивчення англійської мови зі мною.
      </p>

      <h5>Чому вивчення англійської мови зі мною дає високий результат?</h5>
      <li>
        <%= render 'static_pages/gliph' %>Індивідуальний підхід. Ще до початку занять я визначу рівень Ваших знань з
        англійської мови за допомогою <span><%= link_to 'тесту', @test %></span> та усної співбесіди, допоможу Вам
        визначитися із програмою навчання відповідно до Вашого рівня знань з англійської та поставлених Вами цілей. Ви
        можете вивчати англійську зі мною <span><%= link_to 'індивідуальнo', individual_learn_page_path %></span>
        або <span><%= link_to 'по скайп', skype_learn_page_path %></span>.
      </li>
      <li>
        <%= render 'static_pages/gliph' %>Я - професійний викладач англійської мови. Я викладаю англійську мову вже
        більше 4 років, і за цей час я допомогла вже більше, ніж 300 людям досягти успіху в англійській мові. Я постійно
        вдосконалюю свій рівень професіоналізму, а у 2011 я отримала кембріджський сертифікат для викладачів англійської
        мови CELTA, який визнається в усьому світі і підтверджує моє право на викладання англійської мови саме дорослим.
      </li>
      <li><%= render 'static_pages/gliph' %>Ефективна методика. Найкраща методика - це та, яка дає швидкий та міцний
        результат. Саме тому я застосовую комунікативну методику, метод проектів і тренінговий підхід.
      </li>
      <li><%= render 'static_pages/gliph' %>Повне занурення в англомовне середовище. Усі мої заняття ведуться англійською
        мовою. Чому? Щоб у Вас була можливість зануритись в англомовне середовище. Завдяки такому підходу у Вас розвивається
        покращене сприйняття англійської мови на слух, а по-друге, з'являється реальна необхідність говорити тільки
        англійською під час уроків. Звичайно, чим більше Ви спілкуєтеся, тим швидше Ви опановуєте англійську мову.
      </li>
      <li>
        <%= render 'static_pages/gliph' %>Розмовна практика. За роки роботи я зрозуміла, що найефективніший спосіб навчитися
        щось робити - робити це. Саме тому, я будую заняття з англійської мови так, щоб у Вас була можливість постійно
        спілкуватися англійською мовою. Ви говорите з першого уроку навіть на початковому рівні! І поступово, завдяки
        регулярній практиці, Ви починаєте говорити швидше, у Вашій мові з'являється все менше помилок, а про деякі речі
        Ви вже можете розмовляти так, ніби говорите рідною мовою.
      </li>

      <h5>Як Вам дізнатися свій рівень англійської мови?</h5>
      <li>
        <%= render 'static_pages/gliph' %>Пройдіть <span><%= link_to 'тест', Test.find_by_name('Тест на знання ангійської  мови') %></span>
        на визначення рівня англійської мови, щоб підібрати відповідну програму навчання англійській мові. На виконання
        цього тесту Вам знадобиться усього 30 хвилин, а після його проходження Ви зможете оцінити свій рівень знань з
        англійської та отримати рекомендації щодо програм з англійської мови, які найбільше Вам підходять.
      </li>

      <h5>Який розклад занять з англійської мови?</h5>
      <p>
        Наразі я проживаю у місті Черкаси, Україна. Я можу проводити заняття після 09:00 у будні дні (за місцевим часом)
        по скайп (Skype).
      </p>

      <h5>Скільки коштує навчання англійській мові?</h5>
      <p>
        Вартість одного заняття для однієї особи - $30 за 90 хвилин. Заняття для двох людей коштує $40 за 90 хвилин
        (з обох людей). Детально про вартість занять з англійської мови зі мною Ви можете дізнатися тут.
      <p>

      <h5>Хочете вивчати англійську мову зі мною?</h5>
      <li><%= render 'static_pages/gliph' %>Пройдіть тест, щоб визначити свій рівень англійської.</li>
      <li><%= render 'static_pages/gliph' %>Зв'яжіться зі мною по телефону: або по email:  та вкажіть: 1. свій рівень
        англійської мови; 2. бажаний напрямок вивчення англійської (бізнес, загальна англійська і т.д.); 3. усі можливі
        дні та час навчання; 4. бажану дату проведення пробного уроку; 5. країну та місто проживання (мені це потрібно
        для з'ясування Вашого часового поясу). Я зв'яжуся з Вами так швидко, як тільки зможу. Зверніть увагу, що
        індивідуальні заняття з англійської проходять у місті Монреаль, Канада. Для жителів інших міст можливі лише заняття
        з англійської по скайп.
      </li>
      <li><%= render 'static_pages/gliph' %>Почніть вивчати англійську мову в зручний для Вас час після пробного уроку
        та внесення оплати.
      </li>

      <p>Успіхів у навчанні!</p>
    </div>
  </div>

  <div class="col-md-1"></div>
</div>

