<div id='teach_pages' class="row">
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <%= render 'static_pages/left_menue' %>
  </div>

  <div id='central_col' class="col-md-7">
    <h4 class='level_h4'>Індивідуальні заняття з англійської мови</h4>
    <div class='levels_content'>
      <p>
        Хочете швидко досягти поставленої мети? Займайтеся індивідуально!
        Курс буде повністю адаптований під Ваші потреби та цілі, кожне заняття буде присвячене тільки Вам,
        і ми з Вами будемо працювати тільки з Вашими задачами!
      </p>

      <h5>Чому варто вивчати англійську мову індивідуально зі мною?</h5>
      <p>Я - професійний викладач англійської мови. Я викладаю англійську мову вже більше 12 років, і за цей час я допомогла вже більше, ніж 300 людям досягти успіху в англійській мові. Я постійно вдосконалюю свій рівень професіоналізму, а у 2011 я отримала кембріджський сертифікат для викладачів англійської мови CELTA, який визнається в усьому світі.</p>
      <li><%= render 'static_pages/gliph' %>Безкоштовний пробний урок. Щоб Ви прийняли усвідомлене рішення щодо вивчення англійської мови зі мною, я пропоную Вам пройти безкоштовний пробний урок з англійської мови, на якому ми з Вами познайомимося, опануємо певну тему з англійської мови, визначимо Ваш поточний рівень англійської мови, оберемо програму навчання та обговоримо розклад занять.</li>
      <li><%= render 'static_pages/gliph' %>Графік навчання Ви обираєте самі. Ви самі визначаєте свій розклад, обираючи ті дні та час, які максимально зручні для Вас.
      <li><%= render 'static_pages/gliph' %>Індивідуальна програма навчання. Програма навчання англійській мові будується із врахуванням Ваших цілей та задач. Це може бути стандартна програма із загальної розмовної англійської або бізнес курсу англійської мови, а може бути й програма, розроблена спеціально для Вас.</li>
      <li><%= render 'static_pages/gliph' %>Повне занурення в англомовне середовище. Адже так Ви, по-перше, покращите рівень сприйняття англійської мови на слух, а по-друге, звикнете самі постійно використовувати англійську мову, коли будете перебувати в англомовному середовищі. На додаток, Ви зможете ще автоматично запам'ятати багато корисних слів, які Ви чуєте на занятті.</li>
      <li><%= render 'static_pages/gliph' %>Можливість вивчати англійську у себе вдома або на роботі. Звичайно, Ви можете займатися англійською мовою на моїй території (я проживаю у м. Монреаль, Канада), але я з радістю буду приїжджати і до Вас для проведення занять у призначений час.</li>
      <li><%= render 'static_pages/gliph' %>Інтенсивна розмовна практика на уроці. Знаєте, як Ви навчилися говорити рідною мовою? Ви постійно говорили нею! Спочатку з помилками, і інколи Вас було важко зрозуміти. Але завдяки регулярній розмовній практиці Ви поступово стали говорити вільно та без помилок! Щоб те саме відбулося і з англійською мовою, Ви будете багато розмовляти англійською мовою на наших заняттях.</li>
      <li><%= render 'static_pages/gliph' %>Ефективна методика. Методика викладання англійської, яку я застосовую, зводиться до простої схеми – говорити, говорити і ще раз говорити. Саме тому Ви помітите одну цікаву річ: у Вас на заняттях англійської мови буде дуже мало теорії, але багато практики.</li>

      <h5>Яку програми індивідуального вивчення англійської мови Ви можете обрати?</h5>
      <p>Зі мною Ви можете займатися за одним із чотирьох напрямків: загальна, бізнес, спеціальна англійська і тренінги з англійської мови. Дізнайтеся докладніше про програми вивчення англійської.</p>

      <h5>Як Ви будете вивчати англійську мову індивідуально?</h5>
      <li><%= render 'static_pages/gliph' %>Оптимальна кількість індивідуальних уроків англійської – 2-3 уроки на тиждень по 90 хвилин (курс займе у Вас 20-50 занять).</li>
      <li><%= render 'static_pages/gliph' %>На додаток до підручника Ви будете займатися по додаткових матеріалах. Це можуть бути матеріали з граматики, завдання для розмовної практики, аудіо та відео матеріали, які допоможуть Вам швидше опанувати англійську мову та почати вільно спілкуватися нею.</li>
      <li><%= render 'static_pages/gliph' %>На заняттях Ви будете багато розмовляти, обговорювати різні теми, події, статті, вивчати та використовувати на практиці нові слова і граматичні теми, читати та обговорювати тексти, дивитися навчальні фільми, слухати аудіоролики, взагалі, будете поліпшувати Ваш рівень англійської мови в обраному Вами напрямку. Дізнайтеся більше про методику тут.</li>

      <h5>Які переваги індивідуальних уроків з англійської мови зі мною?</h5>
      <li><%= render 'static_pages/gliph' %>Весь час заняття присвячений тільки Вам</li>
      <li><%= render 'static_pages/gliph' %>Ви займаєтесь англійською у зручному місці та у зручний час</li>
      <li><%= render 'static_pages/gliph' %>Індивідуальне навчання ідеально підходить, якщо Вам потрібні інтенсивні заняття з англійської мови</li>
      <li><%= render 'static_pages/gliph' %>Неможливість прийти непідготованим на заняття (адже я все одно спитаю ;)</li>
      <li><%= render 'static_pages/gliph' %>Максимальна кількість розмовної практики на заняттях англійської (адже весь час уроку присвячений саме Вам!)</li>

      <h5>Який розклад та місце проведення занять з англійської мови?</h5>
      <p>Наразі я проживаю у місті Монреаль, Канада. Я можу проводити заняття після 09:00 у будні дні на Вашій чи моїй території (я проживаю в 15-хвилинах пішки від плази Côte-des-Neiges, Монреаль, Канада).<p>

      <h5>Скільки коштує індивідуальний урок англійської мови?</h5>
      <p>Один індивідуальний урок тривалістю 90 хвилин коштує $30. Якщо Ви хочете навчатися у міні-групі з двох людей, то тоді одне 90-хвилинне заняття буде коштувати $40 з обох людей (по $20 з кожного). При цьому можлива поурочна, потижнева чи помісячна оплата за навчання. Додатково необхідно придбати підручник. Детально про вартість занять з англійської мови зі мною Ви можете дізнатися тут.</p>

      <h5>Хочете вивчати англійську мову зі мною?</h5>
      <li><%= render 'static_pages/gliph' %>Пройдіть тест, щоб визначити свій рівень англійської.</li>
      <li><%= render 'static_pages/gliph' %>Зв'яжіться зі мною по телефону: +14389364667 або по email: m_darina2002@yahoo.com та вкажіть: 1. свій рівень англійської мови; 2. бажаний напрямок вивчення англійської (бізнес, загальна англійська і т.д.); 3. усі можливі дні та час навчання; 4. бажану дату проведення пробного уроку. Я зв'яжуся з Вами так швидко, як тільки зможу. Зверніть увагу, що індивідуальні заняття з англійської проходять у місті Монреаль, Канада. Для жителів інших міст можливі лише заняття з англійської по Skype (скайп).</li>
      <li><%= render 'static_pages/gliph' %>Почніть вивчати англійську мову в зручний для Вас час після пробного уроку та внесення оплати.</li>
    </div>
  </div>

  <div class="col-md-1"></div>
</div>
