<div id='teach_pages' class="row">
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <%= render 'static_pages/left_menue' %>
  </div>

  <div id='central_col' class="col-md-7">
    <h4 class='level_h4'>Уроки англійської мови по Skype</h4>
    <ul class='levels_content'>

      <h5>Уроки англійської мови по Skype (скайп) - це відмінне рішення для Вас, якщо:</h5>
      <li><%= render 'static_pages/arrow' %>Ви працюєте по гнучкому або нестандартному графіку, а тому займатися англійською мовою в якийсь фіксований час Ви не можете</li>
      <li><%= render 'static_pages/arrow' %>Ви не можете вчити англійську з викладачем у себе в офісі або вдома та й самі не можете їздити на заняття до викладача</li>
      <li><%= render 'static_pages/arrow' %>У Вашому населеному пункті немає викладачів англійської мови або практично неможливо знайти професійного викладача англійської</li>
      <li><%= render 'static_pages/arrow' %>Ви живете у місцевості, де курси англійської коштують дорого або Вам доводиться займатися у великій групі</li>
      <li><%= render 'static_pages/arrow' %>Ви хочете вивчати англійську з другом/подругою та не можете разом їздити на заняття з англійської, оскільки працюєте у різних частинах міста</li>
      <li><%= render 'static_pages/arrow' %>Ви просто любите вчитися, і особливо Вас приваблюють нестандартні форми навчання, а, може, Ви просто хочете з користю проводити час за комп'ютером</li>

      <h5>Чому варто вивчати англійську мову по Skype (скайп) зі мною?</h5>
      <li><%= render 'static_pages/gliph' %>Я - професійний викладач англійської мови. Я викладаю англійську мову вже більше 12 років, і за цей час я допомогла вже більше, ніж 300 людям досягти успіху в опануванні англійської мови. Я постійно вдосконалюю свій рівень професіоналізму, а у 2011 я отримала кембріджський сертифікат для викладачів англійської мови CELTA, який визнається в усьому світі і підтверджує, що я маю право викладати англійську дорослим.</li>
      <li><%= render 'static_pages/gliph' %>Безкоштовний пробний урок з англійської мови по скайп (Skype). Щоб Ви прийняли усвідомлене рішення щодо вивчення англійської мови зі мною, я пропоную Вам пройти безкоштовний пробний урок по скайп (Skype).</li>
      <li><%= render 'static_pages/gliph' %>Індивідуальний підхід. Ще до початку занять я з'ясовую усі Ваші побажання з приводу вивчення англійської мови, визначаю Ваш рівень англійської та допомагаю Вам вибрати програму навчання відповідно до Вашого рівня знань англійської та цілей.</li>
      <li><%= render 'static_pages/gliph' %>У Вас будуть повноцінні індивідуальні заняття з англійської мови, які практично не відрізняються від очних. Ви так само будете бачити мене (при наявності швидкого підключення до Інтернету), уроки англійської по Skype (скайп) будуть такої ж тривалості, як і очні (90 хвилин), а сам процес вивчення англійської мови по скайп (Skype) буде будуватися на живому спілкуванні, що неможливо при інших формах дистанційного навчання.</li>
      <li><%= render 'static_pages/gliph' %>Ви самі обираєте графік навчання та визначаєте інтенсивність занять, вибираючи ті дні та час, які максимально зручні для Вас.
      <li><%= render 'static_pages/gliph' %>Ви будете інтенсивно практикуватися у спілкуванні англійською з першого уроку. Основний акцент уроків англійської по Skype (скайп) я роблю на розмовну практику. Причому говорити будете, в основному, Ви. Адже це Ви повинні практикуватися у спілкуванні англійською!</li>
      <li><%= render 'static_pages/gliph' %>На уроках англійської мови по Skype (скайп) Ви поринете в англомовне середовище, завдяки тому, що усі заняття проводяться англійською мовою. Такий підхід допоможе Вам швидше заговорити англійською мовою, зняти мовний бар'єр і почати легко розуміти англійську мову на слух.</li>
      <li><%= render 'static_pages/gliph' %>Ефективна методика. Методика, яку я застосовую ефективна, оскільки вона спрямована на досягнення однієї мети - навчити Вас вільному спілкуванню англійською мовою. Я побудувала систему навчання таким чином, щоб час уроку розподілявся ефективно, і Ви витрачали мало часу на теорію - вивчення граматики та нових слів - і могли максимально попрактикуватися у спілкуванні англійською мовою. Дізнайтесь більше про методику, яку я застосовую.</li>

      <h5>Що потрібно для вивчення англійської мови по Skype (скайп) зі мною?</h5>
      <li><%= render 'static_pages/gliph' %>Комп'ютер з підключенням до Інтернет з достатньою швидкістю для спілкування по Skype (скайп)</li>
      <li><%= render 'static_pages/gliph' %>Програма Skype (скайп) (завантажте Skype безкоштовно тут)</li>
      <li><%= render 'static_pages/gliph' %>Програма Adobe Reader (скачайте безкоштовно тут)</li>
      <li><%= render 'static_pages/gliph' %>Наявність гарнітурних навушників (навушники з мікрофоном), навіть якщо Ваш ноутбук або комп'ютер дозволяють спілкуватися без них. Застосування гарнітурних навушників допомагає знизити сторонні шуми, які створюють реальні проблеми при вивченні мови</li>
      <li><%= render 'static_pages/gliph' %>Наявність веб-камери (за бажання)</li>
      <li><%= render 'static_pages/gliph' %>Уміння користуватися програмою Skype (скайп) та файлами PDF</li>

      <h5>Що потрібно зробити перед пробним уроком по скайп (Skype) з англійської мови?</h5>
      <p>Перед уроком (навіть пробним) я рекомендую Вам перевірити роботу навушників, мікрофона, швидкість підключення до Інтернету та переконатися, що Ви вмієте:</p>
      <li><%= render 'static_pages/gliph' %>Додати новий контакт</li>
      <li><%= render 'static_pages/gliph' %>Починати та закінчувати розмову по скайп (Skype)</li>
      <li><%= render 'static_pages/gliph' %>Налаштовувати мікрофон і навушники (до урока, а не під час нього)</li>
      <li><%= render 'static_pages/gliph' %>Приймати файли, зберігати та знаходити їх на своєму комп’ютері</li>
      <li><%= render 'static_pages/gliph' %>Відправляти повідомлення у діалоговому вікні</li>
      <li><%= render 'static_pages/gliph' %>Включати та відключати відео</li>
      <p>Якщо Ви ще ніколи не використовували цю програму, будь ласка, пройдіть короткий курс використання Skype (скайп) (формат PDF) для вивчення англійської по Skype (скайп), щоб пробне заняття з англійської мови не перетворилося в урок вивчення можливостей Skype (скайп).</p>

      <h5>Як Ви будете вивчати англійську мову по Skype (скайп) зі мною?</h5>
      <li><%= render 'static_pages/gliph' %>Курс триває 20-50 занять. Оптимальна кількість уроків англійської по Skype (скайп) - 2-3 уроки на тиждень по 90 хвилин</li>
      <li><%= render 'static_pages/gliph' %>На додаток до підручника я, за необхідності, буде висилати Вам цікаві завдання для розмовної практики, вправи з граматики тощо</li>
      <li><%= render 'static_pages/gliph' %>На заняттях Ви будете багато розмовляти, обговорювати різні теми, вчити та застосовувати на практиці нові слова та граматичні теми, читати та обговорювати тексти, дивитися короткі навчальні фільми, взагалі, будете поліпшувати свою розмовну англійську мову в обраному Вами напрямку. Дізнайтеся більше про методику, яку я застосовую.</li>
      <p>Перш, ніж приступати навіть до пробного уроку по Skype (скайп) я рекомендую Вам пройти короткий безкоштовний курс використання програми Skype (скайп) (формат PDF), розроблений спеціально для тих, хто хоче вивчати англійську мову по Skype (скайп).</p>

      <h5>Які програми вивчення англійської мови по Skype (скайп) Ви можете обирати?</h5>
      <p>Ви можете обирати серед чотирьох основних напрямків з вивчення англійської мови: загальна, бізнес, спеціальна англійська і тренінги з англійської мові. Дізнайтеся більше про програми вивчення англійської, за якими ми можемо займатися.</p>

      <h5>Які переваги вивчення англійської мови по Skype (скайп) зі мною?</h5>
      <li><%= render 'static_pages/gliph' %>Весь час заняття присвячений тільки Вам</li>
      <li><%= render 'static_pages/gliph' %>Ви займаєтесь англійською у зручному місці та у зручний час</li>
      <li><%= render 'static_pages/gliph' %>Це повноцінні індивідуальні заняття по 90 хвилин (як при очному навчанні)</li>
      <li><%= render 'static_pages/gliph' %>Ви не можете не підготуватися на урок з англійської по Skype (скайп), адже я Вас обов’язково спитаю :)</li>
      <li><%= render 'static_pages/gliph' %>Спілкування по Skype (скайп) дозволяє Вам швидко навчитися розмовляти англійською та сприймати англійську мову на слух</li>

      <h5>Який розклад занять з англійської мови?</h5>
      <p>Наразі я проживаю у місті Монреаль, Канада. Мій часовий пояс: UTC -5 (з Україною, наприклад, різниця у часі становить 7 годин, якщо у Вас 19:00, у мене 11:00 ранку). Я можу проводити заняття у будні дні після 09:00 (за місцевим часом).</p>

      <h5>Скільки коштує урок англійської мови по Skype (скайп)?</h5>
      <p>Один індивідуальний урок тривалістю 90 хвилин коштує $30. Якщо Ви хочете навчатися разом з кимось, то тоді одне 90-хвилинне заняття буде коштувати $40 з обох людей. Оплата приймається одразу за місяць занять, але після проведення безкоштовного пробного уроку, тобто після того, як Ви оцінили наскільки Вам підходить вивчення англійської мови по Skype (скайп). Додатково необхідно придбати підручник. Детально про вартість занять з англійської мови зі мною Ви можете дізнатися тут.</p>

      <h5>Хочете вивчати англійську мову зі мною?</h5>
      <li><%= render 'static_pages/gliph' %>Пройдіть тест, щоб визначити свій рівень англійської.</li>
      <li><%= render 'static_pages/gliph' %>Зв'яжіться зі мною по телефону: +14389364667 або по email: m_darina2002@yahoo.com та вкажіть: 1. свій рівень англійської мови; 2. бажаний напрямок вивчення англійської (бізнес, загальна англійська і т.д.); 3. усі можливі дні та час навчання; 4. бажана дата проведення пробного уроку; 5. країна та місто проживання (мені це потрібно для з'ясування Вашого часового поясу). Я зв'яжуся з Вами так швидко, як тільки зможу.</li>
      <li><%= render 'static_pages/gliph' %>Почніть вивчати англійську мову в зручний для Вас час після пробного уроку та внесення оплати.</li>

    </ul>
  </div>
  <div class="col-md-1"></div>
</div>