<div id='teach_pages' class="row">
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <%= render 'static_pages/left_menue' %>
  </div>

  <div id='central_col' class="col-md-7">
    <h4 class='level_h4'>Спеціалізований курс англійської мови</h4>

    <div class='levels_content'>

      <p>
        Коротко про спеціалізований курс англійської мови
        Якщо Вам необхідна англійська для спілкування лише на тематику, що стосується Вашої сфери діяльності, тоді найкращий
        варіант – це замовити спеціалізований курс англійської мови.
      </p>

      <h5>Які особливості спеціалізованого курсу англійської мови?</h5>
      <li><%= render 'static_pages/gliph' %>
        Можна вивчати спеціалізований курс англійської мови, починаючи з рівня Intermediate до Advanced.
      </li>
      <li><%= render 'static_pages/gliph' %>
        Це збалансований курс англійської, на якому Ви поліпшуєте розмовні навички, сприйняття англійської мови на слух,
        уміння читати англійською, ставите вимову, підвищуєте знання з граматики та учитеся грамотно писати по-англійському,
        і все це з акцентом на сферу Вашої діяльності.
      </li>
      <li><%= render 'static_pages/gliph' %>
        Кожне заняття присвячене спілкуванню тільки на ті теми, на які Ви спілкуєтеся у своїй професійній сфері. Наприклад,
        якщо Ви дизайнер інтер'єра, то Ви вчитеся обговорювати замовлення із клієнтом, проводити презентації та описи проекту
        дизайну квартири, будинку, кімнати, вести переговори і вивчати лексику, пов'язану із Вашою сферою: будівлі, матеріали,
        меблі і т.п.
      </li>
      <li><%= render 'static_pages/gliph' %>
        На кожне заняття за цим курсом я, найчастіше, спеціально підбираю і самостійно розробляю навчальні матеріали,
        оскільки підручників, розроблених саме для Вашої сфери діяльності, може і не бути.
      </li>
      <li><%= render 'static_pages/gliph' %>
        Спілкування англійською починається з першого заняття. Щоб дізнатися про те, який буде результат, прочитайте про
        рівні англійської мови, а щоб дізнатися, як проходять заняття, перейдіть за цим посиланням.
      </li>

      <h5>За якими підручниками проходять заняття?</h5>
      <p>
        Швидше за все, Ви будете навчатися за матеріалами, які я спеціально підберу та розроблю для Вас, оскільки видавництва
        рідко випускають повноцінні підручники для спеціалізованих курсів. Тривалість 1 рівня складе біля 30-50 уроків
        (по 90 хвилин). На початкових рівнях знань спеціалізована лексика та необхідні Вам навички будуть вбудовуватися у
        заняття із загальнорозмовної англійської мови або бізнес курсу англійського.
      </p>

    </div>
  </div>

  <div class="col-md-1"></div>
</div>