<div id='teach_pages' class="row">
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <%= render 'static_pages/left_menue' %>
  </div>

  <div id='central_col' class="col-md-7">
    <h4 class='level_h4'>Тренінги з англійської мови</h4>

    <div class='levels_content'>

      <p>
        Тренінги з англійської мови Вам підійдуть у тому випадку, якщо Ваш рівень англійської вже досить непоганий (хоча б
        Intermediate), але Вам потрібно розвинути тільки одну навичку з англійської мови: грамотно вести ділову переписку,
        проводити ділові переговори, спілкуватися по телефону, з використанням всіх формул ввічливості, писати наукові статті,
        давати ділові презентації і багато чого іншого.
      </p>

      <h5>Які особливості тренінгів з англійської мови?</h5>
      <li><%= render 'static_pages/gliph' %>
        Проходити тренінги краще, починаючи з рівня Intermediate і вище.
      </li>
      <li><%= render 'static_pages/gliph' %>
      Мовні тренінги з англійської мови - це короткі вузькоспеціалізовані курси англійської, які дозволяють Вам опанувати
        якусь одну навичку: вести ділову переписку англійською, писати статті англійською, вести ділові переговори, проводити
        ділові зустрічі, готувати та проводити ділові презентації та багато чого іншого. Тут Ви не вивчаєте граматику, читання,
        не ставите вимову, оскільки це все вже має бути у Вашому активному запасі.
      </li>
      <li><%= render 'static_pages/gliph' %>
        На тренінгах з англійської мови Ви одержите інтенсивну практику з потрібного для Вас напрямку. У результаті у Вас
        виробиться навичка, завдяки інтенсивним заняттям і можливості багаторазово попрактикуватися у потрібному Вам напрямку
        з англійської під керівництвом досвідченого тренера.
      </li>

      <h5>За якими матеріалами проходить навчання на тренінгах з англійської?</h5>
      <p>
        Навчальні матеріали, які я застосовую під час тренінгів з англійської - це авторські розробки. Тривалість тренінгів
        варіюється, але складає мінімум 10 академічних годин і залежить від обраного Вами тренінгу і Ваших власних побажань
        щодо наповнення приводу занять. Більше інформації про програми тренінгів з англійської, їх тривалість та особливості
        Ви можете дізнатися, завантаживши програму тренінгу, який Вас цікавить.
      </p>

      <h5>Програми тренінгів з англійської мови</h5>
      <li><%= render 'static_pages/gliph' %>Програма тренінгу з ділової переписки (скачати)</li>
      <li><%= render 'static_pages/gliph' %>Програма тренінгу з телефонних переговорів (скачати)</li>
      <li><%= render 'static_pages/gliph' %>Програма тренінгу з проведення презентацій (скачати)</li>

      <h5>Яку програму з англійської обрати?</h5>
      <p>
        Ефективність навчання завжди залежить як від правильно визначеного рівня англійської, так і від правильно підібраної
        програми навчання. Підібрати програму легко, якщо Ви знаєте, в яких ситуаціях Ви будете найчастіше застосовувати
        англійську мову. Якщо на роботі - тоді обирайте бізнес курс. Якщо у поїздках та у спілкуванні із друзями і знайомими
        або Ви просто точно не знаєте, на які теми будете спілкуватися – загальний курс англійської. Якщо Вам потрібно опанувати
        тільки одну навичку – проводити презентації або вести ділову переписку, наприклад, тоді варто записатися на мовний
        тренінг. Вам потрібно використовувати англійську тільки в обмежених ситуаціях спілкування - обирайте спеціалізований
        курс. Якщо Ви точно не визначилися із програмою навчання, зв'яжіться зі мною, і я з радістю допоможу Вам зробити
        правильний вибір.
      </p>
    </div>
  </div>

  <div class="col-md-1"></div>
</div>