<div id='teach_pages' class="row">
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <%= render 'static_pages/left_menue' %>
  </div>

  <div id='central_col' class="col-md-7">
    <h4 class='level_h4'>Програми навчання</h4>
    <div class='levels_content'>

      <h5>Наразі Ви можете обирати наступні програми вивчення англійської мови:</h5>
      <li><%= render 'static_pages/gliph' %><%= link_to 'Загальний розмовний курс англійської мови', '#' %><li>
      <li><%= render 'static_pages/gliph' %><%= link_to 'Бізнес курс англійської мови', '#' %><li>
      <li><%= render 'static_pages/gliph' %><%= link_to 'Спеціалізований курс англійської мови', '#' %><li>
      <li><%= render 'static_pages/gliph' %><%= link_to 'Тренінги з англійської мови', '#' %><li>

    </div>
  </div>
  <div class="col-md-1"></div>
</div>



