<div class="row">
  <div class="col-md-4"></div>

  <div id='central_col' class="col-md-4">
    <div class="page-header">
      <h4>Вход</h4>
    </div>

    <%= form_tag sessions_path do %>
      <div class="form-group">
        <%= text_field_tag :email, params[:email], class: 'form-control', placeholder: 'Email' %>
      </div>
      <div class="form-group">
        <%= password_field_tag :password, nil, class: 'form-control', placeholder: 'Пароль' %>
      </div>
      <div class="form-group"><%= submit_tag 'Войти', class: 'btn btn-primary' %></div>
    <% end %>
    <p>Новый пользователь? <%= link_to 'Регистрируйся!', new_user_path %></p>
    <div class="col-md-4"></div>
  </div>
</div>