<%= form_for([@topic, @comment], :html => { :class => 'form-vertical answer-form' }) do |f| %>
  <%= f.hidden_field :parent_id %>

  <div class="form-group">
    <%= f.text_area :content, rows: '5', placeholder: 'Введіть текст ...', class: 'form-control' %>
  </div>

  <%= f.hidden_field :rubric_id, :value => @topic.rubric_id %>

  <%= f.submit 'Відповісти', class: 'btn btn-primary', id:'topic_show_btn' %>

<% end %>
