<% provide(:title, "Forum | #{@topic.name}") %>

<div class="row">
  <div class="col-md-2"></div>

  <div id='central_col' class="col-md-8">
    <div class='comments_page'>
      <h4>
        <%= link_to 'Рубрики', rubrics_path %> > <%= link_to @topic.rubric.name, @topic.rubric %> > <%= @topic.name %>
      </h4>

      <div class='topic'>
        <div class='main_gravatar pull-left'>
          <%= gravatar_for @topic.user %>
        </div>

        <h5>
          <%= link_to @topic.user.name, @topic.user %>
          <span class='time'><%= @topic.created_at.strftime('%d.%m.%Y в %H:%M') %></span>
        </h5>

        <div class='topic_content'>
          <%= sanitize @topic.content.gsub(/\n/, '<br/>') %><br>
        </div>
      </div>

      <% if @topic.comments.any? %>
        <%= nested_comments @topic.comments.arrange(:order => :created_at) %>
      <% end %>

      <% if current_user %>
        <h4 class="add_comment">Add comment</h4>
        <%= render 'comments/form' %>
      <% end %>

      <%= paginate @comments %>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
