<% provide(:title, "Forum | #{@topic.name}") %>

<div class="page-header">
  <h3><%= link_to 'Рубрики', rubrics_path %> > <%= link_to @topic.rubric.name, @topic.rubric %> > <%= @topic.name %></h3>
</div>

<%= sanitize @topic.content.gsub(/\n/, '<br/>') %><br>

<p>
  <% if @topic.comments.any? %>
      <% @topic.comments.each do |c| %>

        <p>Content: <%= c.content %></p>
        <%= distance_of_time_in_words_to_now c.created_at %> ago by <%= c.user.name %><br>

      <% end %>
  <% end %>
</p>

<% if @topic.comments.count > 5 %>
    <%= paginate @comments %>
<% end %>
<br/>

<% if current_user %>
    <div class="page-header">
      <h3>Add comment</h3>
    </div>
    <%= render 'comments/form' %>
<% end %>