<div class="row">
  <div class="col-md-4"></div>

  <div id='central_col' class="col-md-4">

    <h4>Реєстрація</h4>

    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <h4 align='center'>Помилки</h4>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.text_field :name, class: 'form-control', placeholder: 'Ім\'я і прізвище'  %>
      </div>
      <div class="form-group">
        <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, class: 'form-control', placeholder: 'Пароль' %>
      </div>
      <div class="form-group">
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Повторіть пароль' %>
      </div>
      <div class="form-group"><%= f.submit 'Створити', class: 'btn btn-primary' %></div>
    <% end %>

    <p>Зареєстрованi? <%= link_to 'Увiйдiть', login_path %></p>
  </div>

  <div class="col-md-4"></div>
</div>