<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h5>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style='width:60%'>
    <div class="form-group">
      <%= f.label :name, 'Імя' %><br>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :address, 'Адрес(Країна, область, місто, індекс, адрес, район, вулиця, будинок)' %><br>
      <%= f.text_area :address, rows: 3, cols: 40, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :phone, 'Телефон' %><br>
      <%= f.text_field :phone, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email %><br>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :pay_type %><br />
      <%= f.select :pay_type, Order::PAYMENT_TYPES, prompt: 'Select a payment method', style:'padding:5px' %>
    </div>
    <div class="actions">
      <%= f.submit 'Розмістити замвлення', class:'btn btn-primary btn-xlarge' %>
    </div>
  </div>

<% end %>
