
<div class='store_nav'>
  <div id='left_col' class="list-group">

    <div id='cart_search'>

      <%= form_tag products_path, :method => 'get', class:'search_form', role:'search' do %>
          <div class="form-group">
            <%= text_field_tag :search, params[:search], class:'form-control', placeholder:'Знайти ...' %>
          </div>
          <%= submit_tag 'Пошук', :name => nil, class:'btn btn-default' %>
      <% end %>

    </div>

    <div id='cart'>
      <a href="#" class="list-group-item active">Кошик</a>
      <% if cart.line_items.any? %>
        <table class='cart_table'>
          <tbody>
            <%= render(cart.line_items) %>
            <tr class='total_price'>
              <td colspan="3">Загальна ціна:</td>
              <td width='30%'><strong><%= cart.total_price %> грн.</strong></td>
            </tr>
          </tbody>
        </table>

        <div id='cart_buttons' class="btn-group">
          <%= link_to 'Очистити', cart, method: :delete, confirm: 'Are you sure?', class:'btn btn-default' %>
          <%= link_to 'Замовти', new_order_path, method: :get, class:'btn btn-default' %>
        </div>
      <% end %>
    </div>

    <div class='categories'>
      <a href="#" class="list-group-item active">Література</a>
      <% @categories = Category.all %>
      <% @categories.each do |category| %>
        <%= link_to category.name, category, class:'list-group-item' %>
      <% end %>
    </div>

  </div>
</div>


