<%= provide(:title, @lesson.name) %>

<div id='teach_pages' class="row">
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <%= render 'static_pages/left_menue' %>
  </div>

  <div id='central_col' class="col-md-7">
    <h4 class='level_h4'><%= link_to @lesson.level.name, @lesson.level %> > <%= @lesson.name %></h4>

    <div class='levels_content'>
      <%= render "/lessons/lessons_content/lesson#{@lesson.id.to_s}" %>
    </div>

    <ul class="pager">
      <li><%= link_to 'Попередній урок', Lesson.find_by(id:(@lesson.id-1)) %></li>
      <li><%= link_to 'Наступний урок', Lesson.find_by(id:(@lesson.id+1)) %></li>
    </ul>
  </div>
  <div class="col-md-1"></div>
</div>


