<div class='level_info' align='justify'>
  <ul>
    <h5><strong>Цей рівень англійської мови призначений для тих, хто:</strong></h5>
    <li><%= render 'static_pages/arrow' %>раніше вивчав англійську мову й володіє нею на рівні Starter (Beginner).</li>
  </ul>
  <ul>
    <h5><strong>Студенти на цьому рівні англійської мови (на додаток до вмінь та навичок опанованих на попередньому рівні):</strong></h5>
    <li><%= render 'static_pages/gliph' %>будують прості речення й питання;</li>
    <li><%= render 'static_pages/gliph' %>вміють написати листівку, e-mail, невеликий запит або повідомлення;</li>
    <li><%= render 'static_pages/gliph' %>вміють грамотно почати телефонну розмову;</li>
    <li><%= render 'static_pages/gliph' %>можуть коротко охарактеризувати себе;</li>
    <li><%= render 'static_pages/gliph' %>відпрацьовують на практиці вміння спілкуватися англійською мовою у різних побутових ситуаціях.</li>
  </ul>
</div>