<%= provide(:title, 'Середній рівень') %>

<div class='level_info' align='justify'>
  <ul>
    <h5>Цей рівень англійської мови призначений для тих, хто:</h5>
    <li><%= render 'static_pages/arrow' %>раніше вивчав англійську мову й володіє нею на рівні Pre-Intermediate.</li>
  </ul>
  <ul>
    <h5>Студенти на цьому рівні англійської мови (на додаток до вмінь та навичок опанованих на попередньому рівні):</h5>
    <li><%= render 'static_pages/gliph' %>опановують 2200 слів та фраз, частина з яких являє собою стійкі вислови, ідіоми, фразові дієслова. Крім того, слухачі опановують різні варіанти вживання того самого слова, а також синоніми та антоніми різних лексичних одиниць;</li>
    <li><%= render 'static_pages/gliph' %>опановують складні граматичні структури;</li>
    <li><%= render 'static_pages/gliph' %>створюють складні речення, діалоги й тексти;</li>
    <li><%= render 'static_pages/gliph' %>можуть підтримувати тривалу бесіду;</li>
    <li><%= render 'static_pages/gliph' %>вміють правильно зрозуміти загальний зміст інформації з контексту й реагувати відповідним чином;</li>
    <li><%= render 'static_pages/gliph' %>можуть доповнювати виклад тої або іншої ситуації особистими коментарями;</li>
    <li><%= render 'static_pages/gliph' %>можуть скласти характеристику себе й інших.</li>
  </ul>
</div>