<%= provide(:title, 'Проміжний рівень') %>

<div class='level_info' align='justify'>
  <ul>
    <h5>Цей рівень англійської мови призначений для тих, хто:</h5>
    <li><%= render 'static_pages/arrow' %>раніше вивчав англійську мову й володіє нею на рівні Elementary.</li>
  </ul>
  <ul>
    <h5>Студенти на цьому рівні англійської мови (на додаток до вмінь та навичок опанованих на попередніх рівнях):</h5>
    <li><%= render 'static_pages/gliph' %>опановують 2000 поширених слів та фраз (включаючи слова попередніх рівнів), частина з яких є стійкими висловами, ідіомами, фразовими дієсловами. Крім того, студенти опановують різні варіанти вживання одного й того самого слова;</li>
    <li><%= render 'static_pages/gliph' %>засвоюють досить складні граматичні структури;</li>
    <li><%= render 'static_pages/gliph' %>надають інформацію особистого й неособистого характеру;</li>
    <li><%= render 'static_pages/gliph' %>можуть описати ситуацію, місце або людину, формулювати своє ставлення до предметів, проблем і людей;</li>
    <li><%= render 'static_pages/gliph' %>вміють написати листівку, офіційне/неофіційний лист, e-mail, запит, вибачення або прохання;</li>
    <li><%= render 'static_pages/gliph' %>вміють грамотно вести телефонну розмову;</li>
    <li><%= render 'static_pages/gliph' %>можуть охарактеризувати себе.</li>
  </ul>
</div>