<%= provide(:title, 'Початковий рівень') %>

<div class='level_info' align='justify'>
  <ul>
    <h5>Цей рівень англійської мови для тих, хто:</h5>
    <li><%= render 'static_pages/arrow' %>раніше ніколи не вивчали англійську мову;</li>
    <li><%= render 'static_pages/arrow' %>вивчали англійську дуже давно і вважають для себе необхідним почати її вивчення із самого початку.</li>
  </ul>
  <ul>
    <h5>На цьому рівні англійської мови студенти:</h5>
    <li><%= render 'static_pages/gliph' %>одержують загальне уявлення про англійську мову, її структуру та фонетичну систему;</li>
    <li><%= render 'static_pages/gliph' %>вивчають алфавіт, правила читання;</li>
    <li><%= render 'static_pages/gliph' %>опановують більше 900 найбільш поширених слів (слів, фраз, виразів, кліше);</li>
    <li><%= render 'static_pages/gliph' %>розвивають навички сприйняття англійської мови на слух;</li>
    <li><%= render 'static_pages/gliph' %>опановують найбільш вживані й необхідні для повсякденного спілкування граматичні структури;</li>
    <li><%= render 'static_pages/gliph' %>долають психологічний бар’єр;</li>
    <li><%= render 'static_pages/gliph' %>вчаться будувати прості речення й питання.</li>
  </ul>
</div>