<% provide(:title, 'Forum') %>

<div id='rubrics' class="row">
  <div class="col-md-2"></div>
  <div id='central_col' class="col-md-8">
    <div class='article-format'>

    <div class="panel panel-default">
      <div class="panel-heading"><h4>Форум</h4></div>

      <table class="table">

        <thread>
          <tr>
            <th width="5%"></th>
            <th width="40%">Рубрики</th>
            <th width="10%">Теми</th>
            <th width="10%">Коментарі</th>
            <th width="40%">Останній коментар</th>
          </tr>
        </thread>

        <% for rubric in @rubrics %>
          <tbody>
            <tr>
              <td align="center"><span class="glyphicon glyphicon-share-alt"></span></td>
              <td><%= link_to h(rubric.name), rubric_path(rubric.id) %><br>
                <%=h rubric.body %></td>
              <td><%= rubric.topics.count %></td>
              <td><%= rubric.comments.count %></td>
              <td>
                <% if rubric.comments.any? %>
                  <% comments = rubric.comments %>
                  <%= link_to comments.last.topic.name, comments.last.topic %><br>
                  <span class='comment_time'>
                    <%= comments.last.created_at.strftime('%d.%m.%Y в %H:%M') %>, автор:
                    <%= link_to comments.last.user.name, comments.last.user %>
                  </span>
                <% elsif %>
                  <% if rubric.topics.any? %>
                    <%= link_to rubric.topics.last.name, rubric.topics.last %><br>
                    <span class='comment_time'>тема не містить коментаріїв</span>
                  <% end %>
                <% else %>
                  <span class='comment_time'>пусто</span>
                <% end %>
              </td>
            </tr>
          </tbody>
        <% end %>

      </table>
    </div>
  </div>
  </div>
  <div class="col-md-2"></div>
</div>