<% provide(:title, 'Forum') %>

<div class="page-header">
  <h3>Рубрики</h3>
</div>



<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>

    <table class="table">
      <thread>
          <tr>
            <th width="40%">Forum</th>
            <th width="10%">Topics</th>
            <th width="20%">Last Topic</th>
            <th width="10%"></th>
          </tr>
      </thread>

      <% for rubric in @rubrics %>

      <tbody>
            <tr>
              <td><h4><%= link_to h(rubric.name), rubric_path(rubric.id) %></h4>
                <%=h rubric.body %></td>
              <td><%= rubric.topics.count %></td>
              <td>

                <% if rubric.topics.any? %>
                    <% topics = rubric.topics %>
                    <%= link_to topics.last.name, topics.last %><br>
                    <%= distance_of_time_in_words_to_now topics.last.created_at %> ago by <%= topics.last.user.name %>
                <% else %>
                    <p>Rubric has no topics</p>
                <% end %>

              </td>
              <td>Omg</td>
            </tr>
      </tbody>

      <% end %>
    </table>
</div>
