<% provide(:title, "Forum | #{@rubric.name}") %>


<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="page-header">
      <h3><%= link_to 'Рубрики', rubrics_path %> > <%= @rubric.name %></h3>
    </div>

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"><%= @rubric.body %></div>

      <table class="table">

        <thread>
          <tr>
            <th width="5%"></th>
            <th width="40%">Topics</th>
            <th width="10%">Comments</th>
            <th width="20%">Last Comment</th>
            <th width="10%"></th>
          </tr>
        </thread>

        <% if @topics.where(rubric_id: @rubric.id).any? %>
          <% topic = @topics.where(rubric_id: @rubric.id) %>
          <% topic.each do |t| %>

            <tbody>
              <tr>
                <td align='center'><span class="glyphicon glyphicon-share-alt"></span></td>
                <td><%= link_to h(t.name), t %><br>
                  <%=h t.content %></td>
                <td><%= t.comments.count %></td>
                <td>
                <% if t.comments.any? %>
                <% comments = t.comments %>
                  <%= distance_of_time_in_words_to_now comments.last.created_at %> ago by <%= comments.last.user.name %>
                <% else %>
                  Topic has no comments
                <% end %>
                </td>
                <td align='center'>
                  <% if t.user == current_user %>
                      <%= link_to '', edit_topic_path(t), class:'glyphicon glyphicon-pencil' %> /
                      <%= link_to '', t, method: :delete, data: { confirm: 'Точно-точно?' }, class:'glyphicon glyphicon-trash' %>
                  <% end %>
                </td>
              </tr>
            </tbody>

          <% end %>
        <% end %>

      </table>
    </div>

    <% if current_user %>
      <%= link_to 'New topic', new_rubric_topic_path(@rubric.id), class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="col-md-2"></div>
</div>