<table>
    <% @products.each do |product| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
            <td>
                <%= image_tag(product.image_url, size:'100x150') %>
            </td>

            <td class="list_description">
                <dl>
                  <dt><%= product.title %></dt>
                  <dd><%= (strip_tags(product.description)) %></dd>
                  <span class="price"><%= number_to_currency(product.price) %></span>
                  <%= button_to 'Add to Cart', line_items_path(product_id: @product) %>
                </dl>
              </td>
            </tr>
        <% end %>
      </table>