<div id="prev" class="col-md-6">

		
			<p><%= image_tag @product.image_url(:thumb).to_s %></p>
			<p><h3><%= @product.title %></h3></p>
			<p><%= sanitize(@product.description) %></p>
			
			<p><span class="price"><%= number_to_currency(@product.price) %></span></p>
			<p><%= button_to 'Add to Cart', line_items_path(product_id: @product) %></p>
	
	<h3><%= link_to 'Магазин', store_path %></h3>
</div>