
<div id='teach_pages' class="row">
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <%= render 'static_pages/left_menue' %>
  </div>

  <div id='central_col' class="col-md-7">
    <h4 class='level_h4'>Результат</h4>

    <div class='levels_content'>

      <h4>
        Ваш рівень знать: <%= link_to @knowledge.name, @knowledge %>
      </h4>
      З <span class='right_answer'><%= @question_count %></span> питань ви дали
      <span class='wrong_answer'><%= @result_count %></span> правильних відповідей.
      <h5>Були допущені наступні помилки:</h5>


      <% @errors.each do |error| %>
        <p>
          <%= error.answer.question.id %>. <%= error.answer.question.content %><br>
          Отримана відповідь: <span class='wrong_answer'><%= error.answer.content %></span><br>
          <% error.answer.question.answers.where(isright:true).each do |t| %>
              Правильна відповідь: <span class='right_answer'><%= t.content %></span><br>
          <% end %>
        </p>
      <% end %>

    </div>
  </div>

  <div class="col-md-1"></div>
</div>

