<div class="row">
  <div id="central_coll" class="col-md-3">
    <%= render @cart %>
    <p><ul>
		      		<li><%= link_to 'Products', products_path %></li>
	  <li><%= link_to 'Магазин', store_path %></li>
      <li><%= link_to 'Форум', rubrics_path %></li>
	</ul></p>
  </div>


	    	<div id="central_bar" class="col-md-6">

	    		<h1>Каталог книг</h1>
	    		<div id="frame">
	    		<tr>
				  <% @products.each do |product| %>
					<p><%= image_tag(product.image_url) %></p>
					<p><h3><%= product.title %></h3></p>
					<%= link_to 'Показать', product_path(product.id) %>
					<p><%= sanitize( truncate product.description, length: 200) %></p>
					<p><span class="price"><%= number_to_currency(product.price) %></span></p>
					<p><%= button_to 'Add to Cart', line_items_path(product_id: product) %></p>

                     <span class='rate'>Rate: <%= rating_for product, 'title', :star => 5, class:'star' %></span>
                  <% end %>
				</tr>
				<h3><%= link_to 'Перечень товаров', products_path %></h3>
			</div>
			</div>
			<div class="col-md-3">
			</div>
		</div>
