<div id='teach_pages' class="row">
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <%= render @cart %>
  </div>

  <div id='central_col' class="col-md-7">
    <h4 class='level_h4'>Магазин англійської літератури</h4>
    <div class='levels_content'>

      <%= render 'store/carousel' %>

      <span id='new_header'>НОВИНКИ</span>
      <hr>
      <div class='row'>
        <% @last_products.each do |product| %>
        <div class="col-sm-12 col-md-4">
          <div class="thumbnail">

            <% if (product.image).blank?  %>
                <%= image_tag('blank.gif', class:'product_image', width:'150', height:'200') %>
            <% else %>
                <%= link_to image_tag(product.image, class:'product_image', width:'150', height:'200'), product %>
            <% end %>

            <div class="caption">
              <%= link_to product.title, product %><hr>
              <p><%= sanitize( truncate product.description, length: 101) %></p>
              <span id='price'>Ціна: <%= number_to_currency(product.price) %></span>
              <%= button_to 'До корзини', line_items_path(product_id: product), class:'btn btn-primary btn-xlarge' %>
            </div>

          </div>
        </div>
        <% end %>
      </div>

      <h3><%= link_to 'Перелiк товарiв', products_path %></h3>

    </div>
  </div>
  <div class="col-md-1"></div>
</div>
