<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>


		<div class="row">
		    <div id="central_col" class="col-md-3">
		      <%= render @cart %>
		      	<p><ul>
		      		<li><%= link_to 'Products', products_path %></li>
		      		<li><%= link_to 'Store', store_path %></li>
		      		<li><%= link_to 'Forum' %></li>
	      		</ul></p>
	    	</div>


	    	<div id="central_bar" class="col-md-6">
	    
	    		<h1>Books Catalog</h1>
	    		<tr>
				<% @products.each do |product| %>
					<p><%= image_tag(product.image_url) %></p>
					<p><h3><%= product.title %></h3></p>
					<%= link_to 'Показать', product_path(product.id) %>
					<p><%= sanitize( truncate product.description, length: 200) %></p>
					<p><span class="price"><%= number_to_currency(product.price) %></span></p>
					<p><%= button_to 'Add to Cart', line_items_path(product_id: product) %></p>
					<% end %>
				</tr>
				<h3><%= link_to 'Перечень товаров', products_path %></h3>
			</div>
			<div class="col-md-3">
			</div>
		</div>


