<footer id='footer'>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="col-md-1"></div>

    <div id='main_footer_menu' class="col-md-10">
      <div class="col-md-4">
        <ul class='footer_nav'>
          <li>Навчання</li>
          <li><%= link_to 'Розпочати навчання', about_path %></li>
          <li><%= link_to 'Курси англійської', rubrics_path %></li>
          <li><%= link_to 'Оплата навчання', store_path %></li>
          <li><%= link_to 'Проти тест', store_path %></li>
        </ul>
      </div>

      <div id='central_footer_menu' class="col-md-4">
        <ul class='footer_nav'>
          <li>Магазин книг</li>
          <li><%= link_to 'Найпопулярніше', contact_path  %></li>
          <li><%= link_to 'Знайти літературу', about_path %></li>
          <li><%= link_to 'Розпродаж', rubrics_path %></li>
          <li><%= link_to 'Корзина', store_path %></li>
        </ul>
      </div>

      <div class="col-md-4">
        <ul class='footer_nav'>
          <li>форум</li>
          <li><%= link_to 'остання тема', contact_path  %></li>
          <li><%= link_to 'правила форуму', about_path %></li>
          <li><%= link_to 'відгуки користувачів', rubrics_path %></li>
          <li><%= link_to 'всі рубрики', store_path %></li>
        </ul>
      </div>
    </div>

    <div class="col-md-1"></div>
  </nav>
</footer>