<footer id='footer'>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="col-md-1"></div>

    <div id='main_footer_menu' class="col-md-10">
      <div class="col-md-4">
        <ul class='footer_nav'>
          <li>Навчання</li>
          <li><%= link_to 'Головна сторінка', root_path %></li>
          <li><%= link_to 'Індивідуальні заняття', individual_learn_page_path %></li>
          <li><%= link_to 'Заняття по Skype', skype_learn_page_path %></li>
          <li><%= link_to 'Контакти', contact_path %></li>
        </ul>
      </div>

      <div id='central_footer_menu' class="col-md-4">
        <ul class='footer_nav'>
          <li>Література</li>
          <li><%= link_to 'Найпопулярніше', contact_path  %></li>
          <li><%= link_to 'Знайти літературу', about_path %></li>
          <li><%= link_to 'Розпродаж', rubrics_path %></li>
          <li><%= link_to 'Корзина', store_path %></li>
        </ul>
      </div>

      <div class="col-md-4">
        <ul class='footer_nav'>
          <li>Форум</li>
          <li><%= link_to 'Рубрики', rubrics_path %></li>
          <li><%= link_to 'Остання тема', Topic.all.last  %></li>
          <li><%= link_to 'Правила форуму', '#' %></li>
          <li><%= link_to 'Відгуки користувачів', Topic.find_by_name('Відгуки') %></li>
        </ul>
      </div>
    </div>

    <div class="col-md-1"></div>
  </nav>
</footer>