<!DOCTYPE html>
<html>
<head>
  <title>SelfTeacher</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
	<div id="banner">
		<div class="image"><%= image_tag("1.jpg") %></div>
		<%= @page_title || "SelfTeacher" %>
	</div>
	<div id="columns">
		<div id="side">		
			<ul>
				<li><a href="http://www...."><%= link_to 'Home', store_path %></a></li>
				<li><a href="http://www..../faq"><%= link_to 'Products', products_path %></a></li>
				<li><a href="http://www..../news"><%= t('.news') %></a></li>
				<li><a href="http://www..../contact"><%= t('.contact') %></a></li>
			</ul>
		</div>
	</div>

	<div id="main">
		<%= yield %>
	</div>
 </body>
 </html>